.scroll-container {
	position: relative;
	width: 100%;
	height: 30vh;
	overflow: hidden;
}

.scroll-image {
	width: 100%;
	height: 30vh;
	z-index: 2;
	object-fit: cover;
}

.scroll-element {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc(100vw / 3);
	position: absolute;
	top: 0;
}

:is(.primary, .secondary, .primary-reversed, .secondary-reversed) {
	--animation-time: 60s;
	--image-size: calc(100vw / 3);
}

.primary {
	animation: primary var(--animation-time) linear infinite;
}

.secondary {
	animation: secondary var(--animation-time) linear infinite;
}

.primary-reversed {
	animation: primary-reversed var(--animation-time) linear infinite;
}

.secondary-reversed {
	animation: secondary-reversed var(--animation-time) linear infinite;
}

@keyframes primary {
	from {
		left: 0;
	}
	to {
		left: calc(-100% - var(--image-size) * 6);
	}
}

@keyframes secondary {
	from {
		left: calc(100% + var(--image-size) * 6);
	}
	to {
		left: 0%;
	}
}

@keyframes primary-reversed {
	from {
		right: 0%;
	}
	to {
		right: calc(-100% - var(--image-size) * 6);
	}
}

@keyframes secondary-reversed {
	from {
		right: calc(100% + var(--image-size) * 6);
	}
	to {
		right: 0%;
	}
}

@media (width < 850px) {
	.scroll-element {
		grid-auto-columns: calc(100vw / 2);
	}

	:is(.primary, .secondary, .primary-reversed, .secondary-reversed) {
		--image-size: calc(100vw / 2);
	}
}

@media (width < 400px) {
	.scroll-element {
		grid-auto-columns: 100vw;
	}
	:is(.primary, .secondary, .primary-reversed, .secondary-reversed) {
		--image-size: 100vw;
	}
}
