.item-card {
	display: flex;
	box-shadow: 7px 7px var(--c-accent), 10px 10px 5px black;
	background-color: white;
	color: black;
	width: 100%;
	height: 100%;
}

.dish-image {
	--size: max(140px, 15vw);
	width: var(--size);
	height: 100%;
	object-fit: cover;
}

.card-content {
	flex: 1;
	padding: 0.5rem 1rem;
}

.card-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-title .card-title p {
	font-size: 0.9rem;
	color: #a0a0a0;
}

.card-description {
	color: #666666;
}
